@font-face {
  font-family: 'CanvaSansDisplay-Medium';
  src: local('CanvaSansDisplay-Medium'), url('./assets/CanvaSansDisplay-Medium.ttf');
  font-weight: medium;
}

@font-face {
  font-family: 'CanvaSansDisplay-Regular';
  src: local('CanvaSansDisplay-Regular'), url('./assets/CanvaSansDisplay-Regular.ttf');
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

#root {
  background-color: #e0ecfb;
  padding: 2rem;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

main {
  width: 100%;
  text-align: center;

}

h1, h2, h3, h4 {
  font-family: 'CanvaSansDisplay-Medium';
}

h1 {
  font-size: 2.5rem;
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
