@font-face {
  font-family: 'CanvaSansDisplay-Medium';
  src: local('CanvaSansDisplay-Medium'), url('./assets/CanvaSansDisplay-Medium.ttf');
  font-weight: medium;
}

@font-face {
  font-family: 'CanvaSansDisplay-Regular';
  src: local('CanvaSansDisplay-Regular'), url('./assets/CanvaSansDisplay-Regular.ttf');
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

#root {
  background-color: #fafaf1;
  padding: 2rem;
  display: flex;
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: 'CanvaSansDisplay-Medium';
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Global styling classes */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.centered-text {
  text-align: center;
}

/* Compound styling */
.middle-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fill-space {
  width: 100%;
  height: 100%;
}


/* TBD: use mix ins for colour palette */
