.custom-form {
    .input-group {
        padding: 0.5rem 0;
    }

    .input-error-message {
        color: #cd2429;
        margin-block-end: 0 !important;
        margin-block-start: 0 !important;
    }

    .dialog-actions {
        display: flex;
        margin-top: 2rem;

        .primary {
            margin-left: 1rem;
            width: 100%;
        }
    }

    label {
        display: block;
        padding-bottom: 0.5rem;
    }

    input,
    select {
        display: block;
        width: calc(100% - 1px);
        height: 2rem;
        border-radius: 8px;
    }

    .input-error {
        border: 2px solid #cd2429;
    }
}
